* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Poopins;
    background-color: #FFF8EC;
    color: #FFF8EC;
    line-height: 1.7;
    overflow-x: hidden;
}